PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=portfolio

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

CORS_ORIGIN=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM=
CONTACT_TO=2k22.csai.2213465@gmail.com
